.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.main {
  display: flex;
  align-self: center;
  margin-top: 16rem;
}


.main > form > input {
  margin-bottom: 10px;

}



